/*@import url("http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css");*/

body {
    background-image: url('../img/wood.jpg');
    margin: 0 auto;
    padding: 2em 2em 4em;
    max-width: 800px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5em;
    color: #545454;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
}

#container{
 background-image: url('../img/wood.jpg');
}

.woodButton
{
    font-family: "Helvetica Neue", Helvetica , Arial, sans-serif;
    font-size: 16px ;
    background-image: url('../img/wood.jpg');
    border-radius: 10px 10px 10px 10px;
    border: 2px outset #ffffff;
    opacity:0.5;
    box-shadow: 10px 10px 5px #050505;
    color: #ffffff;

}

#name{
 text-align: center;   
}